streamlit==1.45.1
numpy==2.2.6
pandas==2.2.3
opencv-python-headless==4.9.0.80   
tensorflow==2.15.0                 
keras==2.15.0                     
keras-vggface==0.6                
mtcnn==0.1.0                      
pillow==11.2.1
gdown==5.2.0                      
tqdm==4.67.1
requests==2.32.3
